html {
  height:-webkit-fill-available; /* fix for issue on iOS */
}

body {
  background-color:#f7f3f7;
  color:#000000;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  margin:0px;
  padding:0px;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size:50px;
  font-weight: 100;
  margin:0px;
  padding:0px;
}

a:link, a:visited {
  color:#516aec;
}

.flex-container {
  display:flex;
  align-items:center;
  justify-content:center;
  
  min-height:100vh;
  min-height:-webkit-fill-available;
}

.flex-child {
  flex:1;
  margin-left:3vw;
  margin-right:3vw;
}

.flex-child:first-child {
  text-align:right;
}

.flex-child:last-child {
  flex-grow:1.7;
}

/* mobile only */
@media screen and (max-width: 650px) {
  h1 {
    font-size:40px;
    margin:10px;
    text-align:center;
  }
  
  .flex-container {
    flex-direction:column;
  }
  
  .flex-child:first-child {
    text-align:center;
  }
}

/* desktop only */
@media screen and (min-width:650px) {
  .flex-child:first-child {
    width:20vw;
  }
}



