html {
  height:-webkit-fill-available; /* fix for issue on iOS */
}

body {
  background-color:#f7f3f7;
  color:#000000;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  margin:0;
  padding:0;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size:4.4vw;
  font-weight: 100;
  margin:0;
  padding:0;
}

.flex-container {
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  min-height:-webkit-fill-available;
}

@media screen and (max-width: 600px) {

}

.flex-child {
  flex:1;
}

.flex-child:first-child {
  width:20vw;
  margin-left:5vw;
  margin-right:5vw;
  text-align:right;
}

.flex-child:last-child {
  flex-grow:1.7;
  margin-right:5vw;
}

