html {
  height:-webkit-fill-available; /* fix for issue on iOS */
}

body {
  background-color:#f7f3f7;
  color:#000000;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  margin:0;
  padding:0;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size:60;
  font-weight: 100;
  margin:0;
  padding:0;
}

.flex-container {
  display:flex;
  align-items:center;
  justify-content:center;
  
  min-height:100vh;
  min-height:-webkit-fill-available;
}

/* mobile only */
@media screen and (max-width: 650px) {
  h1 {
    font-size:40;
    margin:10;
    text-align:center;
  }
  
  .flex-container {
    flex-direction:column;
  }
  
  .flex-child:last-child {
    flex-grow:1.7;
    margin-left:5vw;
  }
}

/* desktop only */
@media screen and (min-width:650px) {
  .flex-container {
    
  }

  .flex-child:first-child {
    width:20vw;
    text-align:right;
  }
}

.flex-child {
  flex:1;
}

.flex-child:first-child {
  margin-left:5vw;
  margin-right:5vw;
}

.flex-child:last-child {
  flex-grow:1.7;
  margin-right:5vw;
}

